<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Batalhar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="pokemon1Source">
    <ion-card-header>
      <ion-card-title [ngStyle]="{'color': resultadoColor}">
        {{ pokemon1Source.name.toUpperCase() }}
      </ion-card-title>
      <ion-card-title *ngIf="resultado">
        {{ resultado }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="pokemonImageUrl" alt="" />
      <ion-list>
        <ion-item>
          <ion-label>Habilidades: {{ pokemon1Source.abilities.length }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Altura: {{ pokemon1Source.height }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Peso: {{ pokemon1Source.weight }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addPhotoToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- hi -->